<div class="col-md-4">
	<div class="testimony-entry wow fadeInUp">
		<div class="feed-bubble">
			<p>{{content.field_client_says.0}}</p>
		</div>
		<div class="author-img" style="background-image: url({{content.field_image.0}});"></div>
		<span class="user">{{content.field_name.0}} <br> <small>{{content.field_designation.0}}</small></span>
	</div>
</div>