<div class="col-md-4 text-center wow fadeInUp">
	<div class="pricing__item">
	    <h3 class="pricing__title">{{content.field_title.0}}</h3>
	    <div class="pricing__price">{{content.field_price.0}}</div>
	    <p class="pricing__sentence">{{content.field_sub_title.0}}</p>
	    <ul class="pricing__feature-list">
	        {{content.field_feature_list}}
	    </ul>
	    <p><a href="{{content.field_link1.0['#url']}}" class="btn btn-primary btn-lg pricing__action">{{content.field_link1.0['#title']}}</a></p>
	</div>
</div>