<section id="fh5co-pricing" data-section="Pricing">
		<section class="pricing-section bg-3">
      	<div class="container">
      		<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="wow fadeInUp">{{content.field_title.0}}</h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext wow fadeInUp">
								<h3>{{content.field_description.0}}</h3>
							</div>
						</div>
					</div>
				</div>
      		<div class="row">
      			{{content.field_pricing_item}}
      		</div>
      	</div>
     </section>
	</section>	