<div class="col-md-3 text-center">
	<span class="fh5co-counter js-counter" data-from="0" data-to="{{content.field_counts.0}}" data-speed="5000" data-refresh-interval="50"></span>
	<span class="fh5co-counter-label">{{content.field_title.0}}</span>
</div>