<section id="fh5co-explore" data-section="Portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="wow fadeInUp">{{content.field_title.0}}</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext animate-box">
						<h3>{{content.field_description.0}}</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fh5co-project">
		<div class="container">
			<div class="row">
				{{content.field_work}}
			</div>
		</div>	
	</div>
	<div id="fh5co-counter-section" class="fh5co-counters">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 wow fadeInUp">
					<p>{{content.field_counter_description.0}}</p>
				</div>
			</div>
			<div class="row wow fadeInUp">
				{{content.field_counter}}
			</div>
		</div>
	</div>
</section>