<div class="col-md-4">
	<div class="fh5co-portfolio wow fadeInUp">
		<div class="portfolio-angor">
			<div class="portfolio-entry" style="background-image: url({{content.field_image.0}});">
				<div class="desc">
					<p>{{content.field_description.0}}</p>
				</div>
			</div>
			<div class="portfolio-text text-center">
				<h3>{{content.field_title.0}}</h3>
			</div> 
		</div>
	</div>
</div>