<!-- Start top banner -->
<section id="fh5co-home" data-section="Home" style="background-image: url({{content.field_background_image.0}});" data-stellar-background-ratio="0.5">
	<div class="gradient"></div>
	<div class="container">
		<div class="text-wrap">
			<div class="text-inner">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<h1 class="wow fadeInUp">
							{{content.field_banner_title.0}}
						</h1>

						<div class="call-to-action">
							<a href="{{content.field_link1.0['#url']}}" class="demo wow fadeInUp"><i class="fa fa-power-off"></i> {{content.field_link1.0['#title']}}</a>
							<a href="{{content.field_link2.0['#url']}}" class="demo wow fadeInUp"><i class="fa fa-download"></i> {{content.field_link2.0['#title']}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

