
	<section id="fh5co-home" class="blog-details" data-section="home" style="background-image: url({{content.field_background_image.0}});" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h1 class="wow fadeInUp"><span class="big">{{content.field_title.0}}</span> </h1>
						</div>
				</div>
			</div>
		</div>
	</section>
