<div class="col-md-4 text-center">
	<div class="box-services">
		<div class="icon wow fadeInUp">
			<span>{{content.field_icon.0}}</span>
		</div>
		<div class="fh5co-post wow fadeInUp">
			<h3>{{content.field_title.0}}</h3>
			<p>{{content.field_description.0}}</p>
		</div>
	</div>
</div>