<div class="col-md-4 wow fadeInUp blog">
  <a href="{{fields.view_node.content}}" class="entry">
    <div class="blog-bg" style="background-image: url({{fields.field_image.content}});">
      <div class="date">
        {{fields.created.content}}
      </div>
      <div class="desc">
        <p>{{fields.body.content}}</p>
      </div>
    </div>
    <div class="desc-grid">
      <h3>{{fields.title.content}}</h3>
    </div>
  </a>
</div>
