<section id="fh5co-blog" data-section="Blog">
    <div class="fh5co-blog">
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-heading text-center">
            <h2 class="animate-box"><span>{{ view.getTitle() }}</span></h2>
            <div class="row">
              <div class="col-md-8 col-md-offset-2 subtext">
              {% if header %}
                <h3 class="wow fadeInUp">{{header}}</h3>
              {% endif %}
                
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          {% if rows %}
            {{rows}}
          {% endif %}
        </div>
      </div>
    </div>
  </section>