{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<header role="banner" id="fh5co-header">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="navbar-header">
            <!-- Mobile Toggle Menu Button -->
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
            {{page.logo}}
          </div>
          {{page.primary_menu}}
        </nav>
      </div>
    </div>
  </header>
  
{# Banner Section Start #}
<section id="fh5co-home" class="blog-details" data-section="home" style="background-image: url({{banner_image}});" data-stellar-background-ratio="0.5">
  <div class="gradient"></div>
  <div class="container">
    <div class="text-wrap">
      <div class="text-inner">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h1 class="animate-box"><span class="big">{{page['#title']}}</span> </h1>
          </div>
      </div>
    </div>
  </div>
</section>
{# Banner Section End #}

{# Main #}
<section id="not-found-section" class="text-center">
  <div class="container">               
    <div class="row"> 
      <div class="not-found-body" >
        <div class="not-title" >
          <h1>403</h1>
          <h2>Access Denied</h2> 
        </div>  
          <h2>Access To The Webpage Was Denied. </h2>
          <p class="not-p">You are not authorized to access this page. You must login to view this page.</p>
          <a href="{{front_page}}"> Go Home </a>
      </div>
    </div>          
  </div>    
</section>
{# Main #}



  <div id="fh5co-footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-4 animate-box">
          {{page.footer_col_1}}
        </div>

        <div class="col-md-4 animate-box">
          <h3 class="section-title">{{address_title}}</h3>
          <ul class="contact-info">
            <li><i class="fa fa-map-o"></i>{{address}}</li>
            <li><i class="fa fa-mobile"></i><a href="tel:{{phone_no}}">{{phone_no}}</li>
            <li><i class="fa fa-envelope"></i><a href="mailto:{{email_address}}">{{email_address}}</a></li>
            <li><i class="fa fa-globe"></i><a href="#">{{site_url}}</a></li>
          </ul>
          <h3 class="section-title">Connect with Us</h3>
          <ul class="social-media">
            {% if facebook %}
              <li><a href="{{facebook}}" class="facebook"><i class="fa fa-facebook-square"></i></a></li>
            {% endif %}
            {% if twitter %}
              <li><a href="{{twitter}}" class="twitter"><i class="fa fa-twitter"></i></a></li>
            {% endif %}
            {% if dribbble %}
              <li><a href="{{dribbble}}" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
            {% endif %}
            {% if github %}
              <li><a href="{{github}}" class="github"><i class="fa fa-github-alt"></i></a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-md-4 animate-box">
          {{page.footer_col_3}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="copy-right">
            © Copyright YG Solid 2018, All rights reserved.<br>
            Design by <a href="https://freehtml5.co" title="Free HTML5 Bootstrap templates">FreeHTML5.co</a>.Theme By <a href="https://www.drupaldeveloperstudio.com" target="_blank" class="font_14_roboto">Drupal Developers Studio</a>. A Division of <a href="https://www.youngglobes.com" target="_blank" class="font_14_roboto">Young Globes.</a>
          </p>
        </div>
      </div>
    </div>
  </div>