<header role="banner" id="fh5co-header">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="navbar-header">
            <!-- Mobile Toggle Menu Button -->
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
            {{page.logo}}
          </div>
          {{page.primary_menu}}
        </nav>
      </div>
    </div>
  </header>

{% set url = url('<current>') %}
{% if 'user' in url|render|render %}  
  <section id="fh5co-home" class="blog-details" data-section="home" style="background-image: url({{banner_image}});" data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
    <div class="container">
      <div class="text-wrap">
        <div class="text-inner">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h1 class="animate-box"><span class="big">{{page['#title']}}</span> </h1>
            </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}  
  {{page.content}}

  <div id="fh5co-footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-4 wow fadeInRight">
          {{page.footer_col_1}}
        </div>

        <div class="col-md-4 wow fadeInUp">
          <h3 class="section-title">{{address_title}}</h3>
          <ul class="contact-info">
            <li><i class="fa fa-map-o"></i>{{address}}</li>
            <li><i class="fa fa-mobile"></i><a href="tel:{{phone_no}}">{{phone_no}}</li>
            <li><i class="fa fa-envelope"></i><a href="mailto:{{email_address}}">{{email_address}}</a></li>
            <li><i class="fa fa-globe"></i><a href="#">{{site_url}}</a></li>
          </ul>
          <h3 class="section-title">Connect with Us</h3>
          <ul class="social-media">
            {% if facebook %}
              <li><a href="{{facebook}}" class="facebook"><i class="fa fa-facebook-square"></i></a></li>
            {% endif %}
            {% if twitter %}
              <li><a href="{{twitter}}" class="twitter"><i class="fa fa-twitter"></i></a></li>
            {% endif %}
            {% if dribbble %}
              <li><a href="{{dribbble}}" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
            {% endif %}
            {% if github %}
              <li><a href="{{github}}" class="github"><i class="fa fa-github-alt"></i></a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-md-4 wow fadeInLeft">
          {{page.footer_col_3}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="copy-right wow fadeInUp">
            © Copyright YG Solid 2018, All rights reserved.<br>
            Design by <a href="https://freehtml5.co" title="Free HTML5 Bootstrap templates">FreeHTML5.co</a>.Theme By <a href="https://www.drupaldeveloperstudio.com" target="_blank" class="font_14_roboto">Drupal Developers Studio</a>. A Division of <a href="https://www.youngglobes.com" target="_blank" class="font_14_roboto">Young Globes.</a>
          </p>
        </div>
      </div>
    </div>
  </div>